$white: #FFFFFF;
$black: #111111;
$grey:grey;

$primary-color: #7F6D50;
$secondary-color: #FFBE54;
$highlight-color: #FFDBA0;
$dark-color: #7F5F2A;
$dull-color: #CCAF80;
$dark-success:green;
$dark-failure:red;